.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212529;
  }
  
  .sidebar a.nav-link {
    padding: 15px;
    border-radius: 5px;
  }
  
  .sidebar a.nav-link:hover {
    background-color: #495057;
  }
  
  .sidebar a.nav-link.active {
    background-color: #414347;
  }

 
  
  .nav-link {
    background-color: transparent; /* Inactive tab background color */
    color: rgb(172, 165, 165);
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
  }
  
  